@import "tailwindcss";

@theme {
  --color-institusi: #1e4b85;
}

body {
  background-color: #f9fafb;
}

/* Custom Scrollbars */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.custom-scrollbar-main::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar-main::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar-main::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
.custom-scrollbar-main::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

